<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Bank Management System</title>
    <link rel="stylesheet" href="/style/styling.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body onload="showrequest()">
    <%- include('partials/header.ejs') %>
      <div class="content">
        <h1>Requests</h1>
        <table id="patientTable">
          <thead>
            <tr>
              <th>Req Id</th>
              <th>Patient Id</th>
              <!-- <th>Patient Name</th> -->
              <th>Bld Group</th>
              <th>Units</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% requests.forEach(request => { %>
            <tr>
              <td><%= request.REQ_ID %></td>
              <td><%= request.PATIENT_ID %></td>
              <!-- <td><%= request.P_FIRST_NAME + ' ' + request.P_LAST_NAME %></td> -->
              <td><%= request.BLOOD_GRP_REQ %></td>
              <td><%= request.UNITS %></td>
              <td>
                <% 
                  const date = new Date(request.TO_DATE);
                  const formattedDate = date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
                %>
                <%= formattedDate %>
              </td> 
              <td><%= request.STATUS %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      function showrequest(){
        fetch("http://127.0.0.1:3000/request") .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
      }
    </script>
  </body>
</html>
